DJANGO_SECRET_KEY=<your-secret-key>
DJANGO_DEBUG=<your-debug-value>
DJANGO_ALLOWED_HOSTS=<your-allowed-hosts>

DATABASE_URL=<your-database-url>
REDIS_URL=<your-redis-url>


GMAIL_CLIENT_ID=<your-gmail-client-id>
GMAIL_CLIENT_SECRET=<your-gmail-client-secret>
STRIPE_SECRET_KEY=<your-stripe-secret-key>
OPENAI_API_KEY=<your-openai-api-key>

FERNET_KEY=<your-fernet-key>

GMAIL_REDIRECT_URI=<your-gmail-redirect-uri>
GMAIL_SCOPES=<your-gmail-scopes>